.settings {
  &-content {
    display: flex;
    flex-direction: column;

    &-all {
      margin-bottom: 60px;
    }

    &-websites {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: $xsm) {
        grid-template-columns: repeat(2, 1fr);
      }

      &-website {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &-submit {
      margin-top: 80px;
    }
  }
}