.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-unauthorized {
    width: 265px;
    height: 20px;
    margin-bottom: 40px;

    &-message {
      background: var(--light-red);
      color: var(--red);
      border: 1px solid var(--red);
      padding: 8px 20px;
      border-radius: 4px;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &-row {
      display: flex;
      flex-direction: column;

      &-error {
        min-height: 20px;

        &-text {
          color: var(--red);
          font-size: smaller;
        }
      }
    }
  }
}